.flex
	display: flex
	
.space-between
	justify-content: space-between

.space-around
	justify-content: space-around

.wrap
	flex-flow: wrap
	
h2, input, button, table
	margin-bottom: 1em

h2
	font-size: 15px
input, button
	border-radius: 2px
	padding: 6px
input, td
	border: 1px solid #ccc
table
	border-collapse: collapse
	max-width: 660px
	width: 100%