<section>
	<h2>Nuevo Pokemon</h2>
	<form [formGroup]="formPkm"(ngSubmit)="submit1()" >
		<main>
		<div>
			<label>Nombre: </label>
			<input type="text" formControlName="name" id="nombre" name="name"/>
		</div>
		<div>
			<label>Ataque: </label>
			<input type="range"formControlName="attack"/>
		</div>
		<div>
			<label>Imagen: </label>
			<input type="text"formControlName="image" placeholder="url"/>
		</div>
		<div>
			<label>Defensa: </label>
			<input type="range"formControlName="defence"/>
		</div>
		</main>
		<footer>
			<button type="submit">Guardar</button><button type="button">Cancelar</button>
		</footer>
	</form>
</section>