section
	border: 1px solid #ccc
	padding: 0  3em

h2
	text-align: center

main, main>div,footer
	display: flex
	flex-flow: wrap
	
main
	justify-content: space-around

main>div
	width: 210px
	justify-content: space-between

footer
	justify-content: center

button
	margin-right: 3px

input[type=range]
	width: 132px
	padding: 0
	border: 0