<section>
	<h2>Listado de Pokemon</h2>
	<div class="flex space-between">
	<input type="text" placeholder="Buscar"/>
	<button>+ Nuevo</button>
	</div>

	<table class="tabla1">
	<thead>
		<tr>
			<td>Nombre</td>
			<td>Imagen</td>
			<td>Ataque</td>
			<td>Defensa</td>
			<td>Acciones</td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let x of arr">
			<td>{{x.name}}</td>
			<td><img src="{{x.image}}"/></td>
			<td>{{x.attack}}</td>
			<td>{{x.defense}}</td>
			<td>{{x}}</td>
		</tr>
	</tbody>
	</table>
	
</section>
